.button {
  background-color: #5dff65;
  border: 1px solid #000;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 4px 8px;
}

:disabled {
  background-color: #ccc;
  border: 1px solid #000;
  color: #000;
  cursor: not-allowed;
}